img{
    width: 200px;
    height: 200px;
}

.image{
    height: auto;
    width: 320px;
}

ul,.top,.Evil-gang-header,.group{
    display: flex;
}

li{
    margin-left: 20px;
}

ul{
    list-style: none;
    margin-top: -2px;
    margin-left: auto;
    margin-right: 75px;
    
}

.header{
    width: 80px;
    height: auto;
    margin-left: 40px;
}

a{
    color: black;
    text-decoration: none;
}

.Evil-gang-header{
    justify-content: center;
}

.Evil-gang-header .text{
    display: flex;
    flex-flow: nowrap column;
    margin-right: 60px;
    flex: 0 1 content;
}

.group{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.item img{
    border: 10px inset blue;
}

.item p{
    text-align: center;
}

.quotes{
    text-align: center;
}

h2{
    text-align: center;
}

.quote-sayer{
    margin-left: 100px;
}

span{
    color: white;
}

.action{
    text-align: center;
    display: flex;
    flex-flow: nowrap column;
}

.button{
    display: flex;
    align-self: center;
}