*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.image{
    height: auto;
    width: 320px;
    border-radius: 0px;
    margin-bottom: 25px;
}

ul,.top,.Evil-gang-header,.group{
    display: flex;
}

li{
    margin-left: 20px;
}

ul{
    list-style: none;
    margin-top: -2px;
    margin-left: auto;
    margin-right: 75px;
    
}

.header{
    width: 80px;
    height: auto;
    margin-left: 40px;
    border-radius: 0;
}

a{
    color: black;
    text-decoration: none;
}

.Evil-gang-header{
    justify-content: center;
}

.Evil-gang-header .text{
    display: flex;
    flex-flow: nowrap column;
    margin-right: 60px;
    flex: 0 1 content;
}

.group{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.item img{
    border: 10px inset blue;
}

.item p{
    text-align: center;
}

.quotes{
    text-align: center;
    background-color: #e5e7EB;
}

h2{
    text-align: center;
}

.quote-sayer{
    margin-left: 100px;
}

span{
    color: #3882F6;
}

.action-parnt{
    display: flex;
    justify-content: center;

}

.action{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    flex-basis: content;
    border: #3882F6 solid 20px;
    border-radius: 10px;
    justify-content: center;

}


.button{
    display: flex;
    align-self: center;
}

.evil-time{
    margin-bottom: -15px;
}

.button{
    margin-top: -50px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    margin-left: 550px;
    flex-direction: column;
}

.Evil-gang-header .text h1{
    font-size: 48px;
    font-weight: 900;
}

.Evil-gang-header,.top{
    background-color: #1F2937;
}

.Evil-gang-header .text p, a, .Evil-gang-header .text h1{
    color: #F9FAF8;
}

.action .text{
    background-color: #3882F6;
    justify-content: center;
}

.action .text p,button{
    color: white;
}

button{
    display: flex;
    color: white;
    background-color: #3882F6;
    border-color: white;
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
    flex-direction: column;
    margin-bottom: 10px;
}

.action .text p{
    margin-right: 100px;
}

.quote{
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.footer{
    text-align: center;
}

.footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1F2937;
}

.quote-sayer{
    font-weight: bold;
    font-size: 20px;
}