img{
    width: 300px;
    height: auto;
}

ul,.top{
    display: flex;
}

li{
    margin-left: 20px;
}

h1{
    text-align: center;
}

ul{
    list-style: none;
    margin-top: -2px;
    margin-left: auto;
}

.header{
    width: 40px;
    height: auto;
}